.calendar {
  display: flex;
  flex-wrap: wrap;
  gap: $single-gap;
  width: ($column-count * $cell-size) + $gap-width;

  &__day {
    box-sizing: border-box;
    width: $cell-size;
    height: $cell-size;

    @include flexible-container;

    background-color: #eee;
    border: 1px solid #000;
    cursor: pointer;

    @include hovering-duration;

    @for $num from 1 through $max-number-days {
      &:nth-child(#{$num})::before {
        content: '#{$num}';
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
      }
    }

    &:hover {
      background-color: #ffbfcb;
      transform: translateY(-20px);

      @include hovering-duration;
    }
  }

  @for $num from 28 through $max-number-days {
    &--month-length-#{$num} .calendar__day:nth-child(n + #{$num + 1}) {
      display: none;
    }
  }

  @each $day in $days-of-week {
    $i: list.index($days-of-week, $day);

    &--start-day-#{$day} {
      .calendar__day:nth-child(1) {
        margin-left: retreat($cell-size, $single-gap, $i);
      }
    }
  }
}
