@function retreat($cell, $single, $ind) {
  @return ($ind - 1) * $cell + ($ind - 1) * $single-gap;
}

@mixin flexible-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin hovering-duration {
  transition:
    background-color $animation-time,
    transform $animation-time;
}
