$cell-size: 100px;
$column-count: 7;
$single-gap: 1px;
$gap-width: ($column-count - 1) * $single-gap;
$days-of-week: mon, tue, wed, thu, fri, sut, sun;
$possible-count-days: 28, 29, 30, 31;
$max-number-days: 31;
$animation-time: 0.5s;
$padding-size: 10px;
